/* Copyright 2023 Kaya Sertel. All Rights Reserved. */

body {
    margin: 0px !important;
	color: white;
	font-family: Atkinson Hyperlegible, sans-serif;
	/*text-shadow: -1px 0 black, 0 1px white, 1px 0 white, 0 -1px white;*/
}

h1 {
	/*text-shadow: -2px 0 black, 0 2px black, 3px 0 white, 0 -1px white;*/
	
}

/* width */
::-webkit-scrollbar {
	display: block;
	position: relative;
	right: 2px;
	border-radius: 8px;
	border: solid  black 2px;
	width: 14.5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 2px;
	background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	border: solid #f1f1f1 3.5px;
	border-radius: 8px;
	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

p {
	text-align: center;
	font-family: Atkinson Hyperlegible, sans-serif;
	
}

.main_div {
	width: 100%;
	overflow-x: hidden;
	height: auto;
	position: relative;
	z-index: 0;
}

.main_menu_outer_div {
	display: flex;
	height: 100vh;
}

.main_left_div {
	display: flex;
	width: 30%;
	height: 100%;
	background: #c8a877;
	align-items: center;
    justify-content: center;
	
}

.main_right_div {
	width: 70%;
	height: 100%;
	background: #aaedf6;
	color: black;
	overflow: hidden;
}

.button_des1_outer {
	
}

.button_part {
	display: flex;
	    flex-direction: row;
    align-items: center;
}

.car_image_div {
	position: relative;
	left: 20px;
	top: 50px;
	width: calc(1.361 * 50px);
	height: 50px;
}

.sonar_car_img {
	transform: rotate(180deg);
}

.location_image_div {
	position: relative;
	left: 50px;
	top: 80px;
	cursor: all-scroll;
	height: 40px;
	width: 40px;
	  
}

.location_mark_img {
	display: block;
	max-width: 100%;
}
